.helloInput {
  width: 200px;
}

.title{
  color: white;
}
.mainText{
  color:white;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: white;
}


main {
  flex: 1 0 auto;
}

#uberMap {
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 0; 
}

.nav-wrapper{
  position: fixed;
  z-index: 1;
}

    